<nav class="navbar navbar-expand-sm bg-light">
  
      <a href="#" class="navbar-brand">Recipe Book</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
    <li class="nav-item">
      <a href="#" class="nav-link">Recipes</a>
    </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Manage</a>
           <div class="dropdown-menu">
            <a href="#">Saving Data</a>
            <a href="#">Fetch Data</a>    
          </div>
        </li>
        
      </ul>
    </div>

</nav>
