<div class="row">
  <div class="col-md-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Recipe Title</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe
      <ul class="dropdown-menu">
          <li><a href="#">The Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>    
      </ul>
    </button>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      Description
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        Ingredients
      </div>
    </div>