<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success">
            Add New
        </button> 
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
<a href="#" class="list-group-item clearfix" 
*ngFor="let recipe of recipes">
    <div class="float-left">
        <h4 class="list-group-item-heading">{{recipe.name}}</h4>
        <p class="list-group-item-text">{{recipe.description}}</p>
    </div>
    <div class="float-right">
<img [src]="recipe.image" alt="image" class="img-responsive">
    </div>
</a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>




